<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cretan Camping</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/favicon-black-solid.ico">
    <!--Bootstrap 5.1.3 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" media="all"/>
    <!--CSS Stylesheets-->
    <link rel="stylesheet" href="/css/footer-style.css">
    <!--Didact Gothic Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="footer">
        <footer class="text-center text-lg-start text-muted">
            <!--Top Section -->
            <section class="d-flex justify-content-center justify-content-between">
            </section>

            <!-- Footer Links -->
            <section class="footer-links">
                <div class="container text-center text-md-start mt-5">
                    <div class="row">
                        <!-- CRETAN CAMPING COL -->
                        <div class="col-md-2 col-lg-2 col-x1-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Cretan Camping
                                <i class="fa-solid fa-campground"></i>
                            </h6>
                            <!-- Address -->
                            <div class="footer-link">
                                <i class="fa-solid fa-map"></i>
                                <a href="https://www.google.com/maps/place/%CE%9C%CE%AC%CF%84%CE%B1%CE%BB%CE%B1+%CE%9A%CE%AC%CE%BC%CF%80%CE%B9%CE%BD%CE%B3%CE%BA/@34.9948069,24.7510726,17.75z/data=!4m13!1m7!3m6!1s0x149b228f46f52d77:0x487854d116b4c0d7!2sMatala+702+00!3b1!8m2!3d34.9931068!4d24.7496386!3m4!1s0x149b22855e6c0a07:0xdfd1691631d9e6fb!8m2!3d34.9947089!4d24.7511912">Matala, Phestos, 70200</a>
                            </div>
                            <!-- Email -->
                            <div class="footer-link">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:info@cretancamping.gr">info@cretancamping.gr</a>
                            </div>
                            <!-- Phone -->
                            <div class="footer-link">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:+302810454673">+30 2810 454673</a>
                            </div>
                        </div>
                        <!-- SHROTCUTS COL -->
                        <div class="col-md-2 col-lg-2 col-x1-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful Links
                                <i class="fa-solid fa-link"></i>
                            </h6>
                            <ul class="footer-link">
                                <li style=" margin-bottom: 16px;">
                                    <a href="/en/">Home</a>
                                </li>
                                <li style=" margin-bottom: 16px;">
                                    <a href="#">Bookings</a>
                                </li>
                                <li style=" margin-bottom: 16px;">
                                    <a href="/en/pricelist/">Pricelist</a>
                                </li>
                                <li  style=" margin-bottom: 16px;">
                                    <a href="/en/crete/">Crete</a>
                                </li>
                                <li style=" margin-bottom: 16px;">
                                    <a href="/en/form/">Comments</a>
                                </li>
                            </ul>
                        </div>
                        <!-- SOCIAL MEDIA COL -->
                        <div class="col-md-2 col-lg-2 col-x1-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Social Media
                                <i class="fa-solid fa-at"></i>
                            </h6>
                            <div class="footer-link">
                                <!-- Facebook -->
                                <a href="" class="me-4 text-reset">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <!-- Instagram -->
                                <a href="" class="me-4 text-reset">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <!-- Google -->
                                <a href="" class="me-4 text-reset">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
</body>
<!--Bootstrap 5.1.3 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>