
    <div class="container flx">
        <a class="my-button-blue" href="/admin/bookings/">Κρατήσεις</a>
        <a class="my-button-blue" href="/admin/space/">Προσθήκη/Διαγραφή Χώρου</a>
        <a class="my-button-blue" href="/admin/statistics/">Στατιστικά</a>
    </div>
