
    <div class="main-body">
        <h1 class="title">Στατιστικά</h1>
        <div class="cont">
            <h2 class="subtitle">Αριθμός Κρατήσεων</h2>
            <div>{{bookNum}}</div>
        </div>
        <div class="cont">
            <h2 class="subtitle">Αριθμός Χρηστών</h2>
            <div>{{users}}</div>
        </div>
        <div class="cont">
            <h2 class="subtitle">Καλύτερος Πελάτης</h2>
            <div>{{bestClient}}</div>
        </div>
    </div>
