
    <div class="container-fluid disp">
        <h1 class="title">Bookings</h1>
        <hr>
        <div class="container main-cont">
            <div class="row">
                <div class="col-lg-6 clmn">
                    <h2 class="subtitle">New Booking</h2>
                <div class="book-button"><button class="my-button-blue">New Booking</button></div>
                </div>
                <div class="col-lg-6 clmn">
                    <h2 class="subtitle">Manage Bookings</h2>
                    <table>
                        <thead>
                            <th>Booking No.</th>
                            <th>Booking State</th>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each bookings}}
                                    <td><a href="/bookings/{{id}}/" class="go-to-booking">{{id}}</a></td>
                                    <td class="situation">{{situation}}<span class="fa fa-circle-check icon"></span><span class="fa fa-circle-xmark icon"></span><span class="fa fa-circle-exclamation icon"></span></td>
                                {{/each}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
