<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Η Κρήτη | Cretan Camping</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/favicon-black-solid.ico">
    <!--Bootstrap 5.1.3 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" media="all"/>
    <!--CSS Stylesheets-->
    <link rel="stylesheet" href="/css/crete-style.css">
    <!--Didact Gothic Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-body">
        <h1 class="title">Η Κρήτη</h1>
        <hr>
        <!--Photo Gallery-->
        <div class="photo-container">
            <div class="slides">
                <img src="/img/crete/crete-1.png" alt="Cretan Seaside View" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/crete/crete-2.png" alt="Balos Beach" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/crete/knossos.png" alt="Knossos Palace" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/crete/phaistos.png" alt="Phaistos Palace" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/crete/dakos.jpg" alt="Cretan Dakos" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/crete/cretan-food.png" alt="Cretan Food" style="width:100%;">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="content">
            <h2 class="subtitle">Τα Μάταλα</h2>
            <p class="description">
                Τα Μάταλα βρίσκονται στην Νότια Κρήτη και συγκεκριμένα στην περιοχή της Φαιστού. Αποτελούν έναν συνήθη εναλλακτικό ταξιδιωτικό προορισμό στην Κρήτη, από την δεκαετία του '60, έως και σήμερα.
                Έχει μία χρυσαφένια παραλία με βραχώδες τοπίο και πολλές σπηλιές, οι οποίες ενώ αρχικά ήταν άδειες, αργότερα κατοικήθηκαν από ορισμένες ομάδες ανθρώπων.
                Πλέον, είναι πάλι άδειες, αλλά είναι διαθέσιμες προς το κοινό για επίσκεψη.
            </p>
        </div>
        <div class="content">
            <h2 class="subtitle">Το Ηράκλειο</h2>
            <p class="description">
                Το Ηράκλειο, αποτελεί την μεγαλύτερη πόλη της Κρήτης και την 4η μεγαλύτερη πόλη της Ελλάδας, με πληθυσμό κοντά στους 174.000 μόνιμους κατοίκους.
                Πολύ σημαντικά ιστορικά αξιοθέατα αποτελούν τα Μινωικά ανάκτορα στην Κνωσό και στην Φαιστό, τα οποία είναι διαθέσιμα προς επίσκεψη.
                Ακόμη, φημίζεται για τις παραλίες της, ειδικότερα στο νότιο κομμάτι, όπου τα καταγάλανα νερά και η ψιλή άμμος, δημιουργούν ένα υπέροχο τοπίο.
            </p>
        </div>
        <div class="content">
            <h2 class="subtitle">Η κουζίνα</h2>
            <p class="description">
                Η κρητική κουζίνα έχει τις βάσεις της στην μεσογειακή διατροφή. Με πληθώρα γεύσεων σε διάφορους τομείς, θεωρείται μία από τις πιο ιδιαίτερες κουζίνες στην Ελλάδα.
                Μερικά από τα πιο διάσημα πιάτα της είναι ο ντάκος (παξιμάδι με ντομάτα, λάδι, ρίγανη και ξινομυζήθρα), το απάκι (καπνιστό χοιρινό) και τα σαλιγκάρια σε διάφορες παραλλαγές.
                Στο χωριό των Ματάλων, υπάρχουν διάφορα εστιατόρια τα οποία είναι έτοιμα να σας εξυπηρετήσουν και να σας παρέχουν πρώτης ποιότητας πιάτα, φτιαγμένα με ντόπια υλικά και μεράκι.
            </p>
        </div>
        <div class="content">
            <h2 class="subtitle">Άλλοι Προορισμοί</h2>
            <p class="description">
                Αν δεν θέλετε να περιοριστείτε στον νομό Ηρακλείου και στα Μάταλα, η Κρήτη έχει πολλούς άλλους προορισμούς που μπορείτε να κάνετε εξορμήσεις.
                Στον νομό Ρεθύμνης, εκτός από την γραφική πόλη του Ρεθύμνου, με τα σοκάκια και το παλιό λιμάνι, υπάρχουν ωραίες παραλίες σε όλο το μήκος του νότιου τομέα, σε απόσταση μίας ώρας από τα Μάταλα.
                Στον νομό Χανίων, σημαντικότατο αξιοθέατο είναι το φαράγγι της Σαμαριάς, το οποίο αποτελεί το δεύτερο μεγαλύτερο φαράγγι της Ευρώπης, με μήκος από 13 έως 16 χλμ, καθώς επίσης και παραλίες όπως του Μπάλου και των Φαλάσαρνων.
            </p>
        </div>
    </div>
    
</body>
<!--Bootstrap 5.1.3 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/js/slideshow.js"></script>