<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Η Κρήτη | Cretan Camping</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/favicon-black-solid.ico">
    <!--Bootstrap 5.1.3 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" media="all"/>
    <!--CSS Stylesheets-->
    <link rel="stylesheet" href="/css/facilities-style.css">

    <!--Didact Gothic Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-body">
        <h1 class="title">Eγκαταστάσεις</h1>
        <hr>
        <!--Photo Gallery-->
        <div class="photo-container">
            <div class="slides">
                <img src="/img/facilities/camping.jpg" alt="Stay Area" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/gym.jpg" alt="Camping Gym" style="width:100%;">
            </div>            
            <div class="slides">
                <img src="/img/facilities/restaurant.jpg" alt="Camping Restaurant" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/pool.jpg" alt="Camping Pool" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/playground.jpg" alt="Camping Playground" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/sports.jpg" alt="Sports" style="width:100%;">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>

    <ul class="blue_tilesWrap">
        <li>
            <h2>01</h2>
            <h3><strong>Περοχές διαμονής</strong></h3>
            <p>
                Βρείτε το ιδανικό σπίτι του camping η την τέλεια περιοχή για να τοποθετήστε την σκηνή σας
                και απολάυστε την διαμονή σας
            </p>
        </li>
        <li>
            <h2>02</h2>
            <h3><strong>Τουαλέτες</strong></h3>
            <p>
                Μοντέρνες πλήρως εξοπλισμένες τουαλέτες με ειδικές τουαλέτες για παδιά και αλλακτήρια για βρέφη. 
                Επιπλεόν υπάρχουν πληντύρια λειτουργικά με είσοδο νομίσματος και εγκαταστάσεις σιδερόματος ρούχων.
            </p>
        </li>
        <li>
            <h2>03</h2>
            <h3><strong>Φαγητά & Ποτά</strong></h3>
            <p>
                Το supermarket, παραλιακό bar και εστιατόριο μας έχουν όλα τα απαραίτητα φαγητά, ποτά και όποιο άλλο προιόν
                μπορεί να χρειαστείτε κατα την διάρκεια της διαμονής σας.
            </p>
        </li>
        <li>
            <h2>04</h2>
            <h3><strong>Περιοχές Παιδιών</strong></h3>
            <p>
                Ασφαλής παιδικές χαρές όπου τα παιδιά μπορούν να περάσουν καλα όσο οι γονείς απολαμβάνουν κάποιες από τις
                δραστηριότητες για ενήλικες ή περνάνε χρόνο μόνοι.
            </p>            
        </li>
    </ul>

    <ul class="green_tilesWrap">
        <li>
            <h2>05</h2>
            <h3><strong>Πισίνα</strong></h3>
            <p>
                Μοντέρνα πλήρως εξοπλισμένη πισίνα για ενήλικες αλλά και παιδιά όπου μπορείτε να κολυμπήστε ή μα απολάυσετε
                ένα cocktail, καφέ ή οποιοδήποτε ποτό.
            </p>
        </li>
        <li>
            <h2>06</h2>
            <h3><strong>Γυμναστήριο</strong></h3>
            <p>
                Μοντέρνο πλήρως εξοπλισμένο γυμναστήριο στο οποίο μπορείτε να συνεχίσετε το πρόγραμμα γυμναστικής σας 
                παράλληλα με τις διακοπές σας.
            </p>
        </li>
        <li>
            <h2>07</h2>
            <h3><strong>Sport areas</strong></h3>
            <p>
                Μοντέρνα πλήρως εξοπλισμένα γήπεδα ποδοσφαίρου, μπάσκετ και βόλευ και πόλλα τραπέζια πινγκ πονγκ που
                μπορείετε είτε απλά να διασκεδάσετε παίζοντας το αγαπημένο σας άθλημα είτε να εγγραφείτε σε όποια απο τις
                δραστηριότητες θέλησετε.
            </p>
        </li>
        <li>
            <h2>08</h2>
            <h3><strong>Παροχές</strong></h3>
            <p>
                Δωρεάν internet, σταθμοί φόρτισης, σταθμοί ποδηλάτων, πάρκινγκ αυτοκινήτων, σεσουάρ,
                ηλεκτρικές κουζίνες και μπάρμπεκιου για όλους μας τους πελάτες.
            </p>            
        </li>
    </ul>
    
</body>
<!--Bootstrap 5.1.3 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/js/slideshow.js"></script>