
    <div class="main-body">
        <h1 class="title">Facilities</h1>
        <hr>
        <!--Photo Gallery-->
        <div class="photo-container">
            <div class="slides">
                <img src="/img/facilities/camping.jpg" alt="Stay Area" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/gym.jpg" alt="Camping Gym" style="width:100%;">
            </div>            
            <div class="slides">
                <img src="/img/facilities/restaurant.jpg" alt="Camping Restaurant" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/pool.jpg" alt="Camping Pool" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/playground.jpg" alt="Camping Playground" style="width:100%;">
            </div>
            <div class="slides">
                <img src="/img/facilities/sports.jpg" alt="Sports" style="width:100%;">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>

    <ul class="blue_tilesWrap">
        <li>
            <h2>01</h2>
            <h3><strong>Staying areas</strong></h3>
            <p>
                Find the ideal camping home or the perfect area to place your 
                camping tent and enjoy your stay.
            </p>
        </li>
        <li>
            <h2>02</h2>
            <h3><strong>Washrooms</strong></h3>
            <p>
                Modern, fully-equipped washrooms feature special children’s 
                toilets and baby changing rooms. Coin operated washing machines 
                and ironing facilities are also on hand.
            </p>
        </li>
        <li>
            <h2>03</h2>
            <h3><strong>Food & Drinks</strong></h3>
            <p>
                Our supermarket, beach bar and restaurant have all the necessary
                foods, drinks and any other products that you might need through
                yout stay.
            </p>
        </li>
        <li>
            <h2>04</h2>
            <h3><strong>Childer areas</strong></h3>
            <p>
                Kid friendly playgrounds where your childer can play and have fun
                safely while the parents experience some of the adult activities
                or spend time alone. 
            </p>            
        </li>
    </ul>

    <ul class="green_tilesWrap">
        <li>
            <h2>05</h2>
            <h3><strong>Pool area</strong></h3>
            <p>
                Modern, fully equiped pool both for children and adults where you can
                either swim or just sit by and enjoy your cocktail, coffe or any beverage.
            </p>
        </li>
        <li>
            <h2>06</h2>
            <h3><strong>Gym</strong></h3>
            <p>
                Modern, fully equiped gym so that you can keep up with your training programm
                while in vacation.
            </p>
        </li>
        <li>
            <h2>07</h2>
            <h3><strong>Sport areas</strong></h3>
            <p>
                Modern, fully equiped football, basketball, and voleyball courts and many tables
                for table tennis where you can just enjoy playing your favourite sport or enrol
                to any of our activities you want.
            </p>
        </li>
        <li>
            <h2>08</h2>
            <h3><strong>Services</strong></h3>
            <p>
                Free internet, charching stations, bike stations, car parking, hair dryers, 
                electric kitchens and barbeques for all out clients.
            </p>            
        </li>
    </ul>
    