 
        <section>
            <h1 class="title">Σχόλια</h1>
            <hr>
            <div class="container disp">
                <div class="row">
                    <div class="col-xl" id="comment-feed">            
                        <div class="comment text-justify float-left"> 
                            <img src="https://i.imgur.com/748evQn.png" alt="Couldn't load image" class="rounded-circle" width="50" height="50">
                            <p class="name">Βασίλης Καλαϊτζόπουλος</p> <span>- 16 September, 2021</span> <br>
                            <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>
                        <div class="text-justify darker mt-4 float-right"> 
                            <img src="https://i.imgur.com/gMDNvl3.gif" alt="Couldn't load image" class="rounded-circle" width="50" height="50">
                            <p class="name">Ιωσήφ Λαζανάκης</p> <span>- 17 October, 2022</span> <br>
                            <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>
                    </div>
                    {{#if userId}}
                    <div class="col-xl">
                        <form id="algin-form">
                            <h1>Αφήστε σχόλιο</h1> 
                            <div class="form-group">                                 
                                <textarea name="msg" id="message" cols="30" rows="5" class="form-control" placeholder="Αφήστε το σχόλιο σας εδώ..."></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="button" id="post" class="my-button-green">Υποβολη</button>
                            </div>
                        </form>
                    </div>
                    {{else}}
                    <div class="col-xl">
                        <form id="algin-form">
                            <h1>Αφήστε σχόλιο</h1>
                            <p class="log-in-warning">Για να αφήστε σχόλιο <strong> πρέπει</strong> να είστε <a href="#" id="comment-sign-in" class="sign-up" data-bs-toggle="modal" data-bs-target="#signInModal">συνδεδεμένοι</a> στον λογαριασμό σας στην ιστοσελίδα.</p>
                            <br>
                            <p class="text-sign-up">Αν δεν έχετε λογαριασμό στην ιστοσελίδα μας μπορείτε να κάνετε εγγραφή <a href="#" id="comment-sign-up" class="sign-up" data-bs-toggle="modal" data-bs-target="#signInModal">ΕΔΩ</a>.</p>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>
        </section>
