<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cretan Camping</title>
        <!--Favicon-->
        <link rel="icon" type="image/x-icon" href="/img/favicon-black-solid.ico">
        <!--Bootstrap 5.1.3 CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" media="all"/>
        <!--CSS Stylesheets-->
        <link rel="stylesheet" href="/css/form-style.css">
        <!--Didact Gothic Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
        
    </head>

    <body>        
        <section>
            <div class="container disp">
                <div class="row">
                    <div class="col-xl" id="comment-feed">
                        <h1>Comments</h1>
                        <hr>
                        <div class="comment mt-4 text-justify float-left"> 
                            <img src="https://i.imgur.com/748evQn.png" alt="Couldn't load image" class="rounded-circle" width="50" height="50">
                            <p class="name">Βασίλης Καλαϊτζόπουλος</p> <span>- 16 September, 2021</span> <br>
                            <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>
                        <div class="text-justify darker mt-4 float-right"> 
                            <img src="https://i.imgur.com/gMDNvl3.gif" alt="Couldn't load image" class="rounded-circle" width="50" height="50">
                            <p class="name">Ιωσήφ Λαζανάκης</p> <span>- 17 October, 2022</span> <br>
                            <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                        </div>
                    </div>
                    <div class="col-xl">
                        <form id="algin-form">
                            <h1>Leave a comment</h1> 
                            <div class="form-group">                                 
                                <textarea name="msg" id="message" cols="30" rows="5" class="form-control" placeholder="Leave your comment here..."></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="button" id="post" class="my-button-green">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>


</html>