
    <div class="main-body">
        <h1 class="title">Τιμοκατάλογος</h1>
    <hr>
        <table>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <th>1/5/2022-30/6/2022</th>
                    <th>1/7/2022-31/8/2022</th>
                    <th>1/9/2022-31/10/2022</th>
                </tr>
                <tr>
                    <td>Ηλικίες > 12 ετών<sup class="highlight">(1)</sup></td>
                    <td>4€</td>
                    <td>5€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Ηλικίες 4-12 ετών<sup class="highlight">(1)</sup></td>
                    <td>2€</td>
                    <td>3€</td>
                    <td>2€</td>
                </tr>
                <tr>
                    <td>Ηλικίες < 4 ετών<sup class="highlight">(1)</sup></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Μικρή Σκηνή<sup class="highlight">(2)</sup></td>
                    <td>4€</td>
                    <td>4.5€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Μεγάλη Σκηνή<sup class="highlight">(2)</sup></td>
                    <td>5€</td>
                    <td>5.5€</td>
                    <td>5€</td>
                </tr>
                <tr>
                    <td>Αυτοκίνητο<sup class="highlight">(2)</sup></td>
                    <td>3€</td>
                    <td>4€</td>
                    <td>3€</td>
                </tr>
                <tr>
                    <td>Μοτοσυκλέτα<sup class="highlight">(2)</sup></td>
                    <td>1.5€</td>
                    <td>2.5€</td>
                    <td>1.5€</td>
                </tr>
                <tr>
                    <td>Τροχόσπιτο<sup class="highlight">(2)</sup></td>
                    <td>5.5€</td>
                    <td>6.5€</td>
                    <td>5.5€</td>
                </tr>
                <tr>
                    <td>Ρεύμα<sup class="highlight">(2)</sup></td>
                    <td>4€</td>
                    <td>4€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Πλυντήριο</td>
                    <td>2.5€</td>
                    <td>2.5€</td>
                    <td>2.5€</td>
                </tr>
            </tbody>
        </table>
        <div class="note">
            <div class="info"><span class="highlight">(1): </span>Η τιμή αντιστοιχεί σε κάθε άτομο ανά διανυκτέρευση.</div>
            <div class="info"><span class="highlight">(2): </span>Η τιμή αντιστοιχεί ανά διανυκτέρευση.</div>
        </div>
    </div>
