
    <div class="main-body">
        <h1 class="title">Pricelist</h1>
    <hr>
        <table>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <th>1/5/2022-30/6/2022</th>
                    <th>1/7/2022-31/8/2022</th>
                    <th>1/9/2022-31/10/2022</th>
                </tr>
                <tr>
                    <td>Ages > 12 years old<sup class="highlight">(1)</sup></td>
                    <td>4€</td>
                    <td>5€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Ages 4-12 years old<sup class="highlight">(1)</sup></td>
                    <td>2€</td>
                    <td>3€</td>
                    <td>2€</td>
                </tr>
                <tr>
                    <td>Ages < 4 years old<sup class="highlight">(1)</sup></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Small Tent<sup class="highlight">(2)</sup></td>
                    <td>4€</td>
                    <td>4.5€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Large Tent<sup class="highlight">(2)</sup></td>
                    <td>5€</td>
                    <td>5.5€</td>
                    <td>5€</td>
                </tr>
                <tr>
                    <td>Car<sup class="highlight">(2)</sup></td>
                    <td>3€</td>
                    <td>4€</td>
                    <td>3€</td>
                </tr>
                <tr>
                    <td>Motorcycle<sup class="highlight">(2)</sup></td>
                    <td>1.5€</td>
                    <td>2.5€</td>
                    <td>1.5€</td>
                </tr>
                <tr>
                    <td>RV<sup class="highlight">(2)</sup></td>
                    <td>5.5€</td>
                    <td>6.5€</td>
                    <td>5.5€</td>
                </tr>
                <tr>
                    <td>Electric Power<sup class="highlight">(2)</sup></td>
                    <td>4€</td>
                    <td>4€</td>
                    <td>4€</td>
                </tr>
                <tr>
                    <td>Laundry</td>
                    <td>2.5€</td>
                    <td>2.5€</td>
                    <td>2.5€</td>
                </tr>
            </tbody>
        </table>
        <div class="note">
            <div class="info"><span class="highlight">(1): </span>Price per person per night.</div>
            <div class="info"><span class="highlight">(2): </span>Price per night.</div>
        </div>
    </div>
