<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Προφίλ | Profile</title>
  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="/img/favicon-black-solid.ico">
  <!--Bootstrap 5.1.3 CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" media="all"/>
  <!--CSS Stylesheets-->
  <link rel="stylesheet" href="/css/profile-style.css">
  <!--Didact Gothic Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">

</head>
<body>

<div class="text-center title">
  <h1>Profile</h1>
</div>

<hr>

<div class="container disp">

  <form>

    <label>Full Name</label>
    <div class="input-group mb-3 user">
      <input type="text" class="form-control" placeholder="First Name" aria-label="FullName" aria-describedby="basic-addon1" required>
      <input type="text" class="form-control" placeholder="Last Name" aria-label="FullName" aria-describedby="basic-addon1" required>
    </div>

    <div class="form-group mb-3">

      <label for=username>Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username">

    </div>
    <div class="form-group mb-3">

      <label for=email>Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">

    </div>
    <div class="form-group mb-3">

      <label for=username>Mobile Phone</label>
      <input type="text" class="form-control" id="mobile" placeholder="Mobile Phone">

    </div>
    <div class="form-group mb-3">

      <label for=oldpass>Old Password</label>
      <input type="password" class="form-control" id="oldpass" placeholder="Old Password">

    </div>
    <div class="form-group mb-3">

      <label for=newpass>New Password</label>
      <input type="password" class="form-control" id="newpass" placeholder="New Password">

    </div>
    <div class="form-group mb-3">

      <label for=renewpass>Re-Enter New Password</label>
      <input type="password" class="form-control" id="renewpass" placeholder="New Password">

    </div>

    <div class="row">

      <div class="text-center btns">

        <button type="button" class="my-button-green" id="saveBtn">Save Changes</button>
        <button type="reset" class="my my-button-red">Cancel</button>

      </div>

    </div>
  </form>
</div>
<script src="/js/pass-match.js"></script>
</body>
</html>