
    <div class="main-body">
        <h1 class="title">Περίοδοι Λειτουργίας</h1>
        <hr>
        <!--Photo Gallery-->
        <div class="photo-container">
            <img src="/img/index/Matala_beach.jpg" class="image" alt="Matala Beach">
        </div>
        <div class="content">
            <p class="work-periods">
                Η λειτουργία του κάμπινγκ μας χωρίζεται σε 3 περιόδους:
            </p>
            <div class="info"><span class="subtitle">Χαμηλή Περίοδος 1:</span>1/5/2022-30/6/2022</div>
            <div class="info"><span class="subtitle">Υψηλή Περίοδος:</span>1/7/2022-31/8/2022</div>
            <div class="info"><span class="subtitle">Χαμηλή Περίοδος 2:</span>1/9/2022-31/10/2022</div>
            <p class="work-periods">
                Κατά την υψηλή περίοδο, υπάρχει αύξηση στα κόστη διαμονής και εισόδου στον χώρο του κάμπινγκ. Για περισσότερες πληροφορίες δείτε <a class="link" href="/pricelist/">εδώ</a>.
            </p>
        </div>
    </div>
