
    <div class="main-body">
        <h1 class="title">Operating Periods</h1>
        <hr>
        <!--Photo Gallery-->
        <div class="photo-container">
            <img src="/img/index/Matala_beach.jpg" class="image" alt="Matala Beach">
        </div>
        <div class="content">
            <p class="work-periods">
                Cretan Camping is operating during 3 seasons:
            </p>
            <div class="info"><span class="subtitle">Low Season 1:</span>1/5/2022-30/6/2022</div>
            <div class="info"><span class="subtitle">High Season:</span>1/7/2022-31/8/2022</div>
            <div class="info"><span class="subtitle">Low Season 2:</span>1/9/2022-31/10/2022</div>
            <p class="work-periods">
               During high season, an increase to the prices is applied. For more information click <a class="link" href="/en/pricelist/">here</a>.
            </p>
        </div>
    </div>
