.heading{
    text-align: center;
    color: #404040;
}

.flx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card{
    position: relative;
    width: 350px;
    height: 350px;
    color: #404040;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;

}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .3s;
}

.card_content::before{
    content: '';
    position: absolute;
    top: -47px;
    right: -47px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 45px 45px white;
}

.card_title{
    color: #66B2FF;
    line-height: 15px;
}

.card_subtitle{
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_desc{
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .card_content{
    transform: translateY(0);
}

.card:hover .card_desc{
    opacity: 1;
    transition-delay: 0.2s;
}