/* Button Green */
.my-button-green{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00CC66;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    border: 0;
    border-radius: 0.25em;
    flex-wrap: wrap;

}
.my-button-green:hover{
    color: #ffffff;
}
.my-button-green::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00CC66;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.my-button-green:hover::before{
    width: 150%;
}
/* Button Green*/

/* Button Blue */
.my-button-blue{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #66B2FF;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    border: 0;
    border-radius: 0.25em;
    flex-wrap: wrap;

}
.my-button-blue:hover{
    color: #ffffff;
}
.my-button-blue::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #66B2FF;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.my-button-blue:hover::before{
    width: 150%;
}
/* Button Blue*/

.name{
    font-size: 24px;
    display: inline;
}

.sign-up{
    margin-block: 2px;
    color: black;
    text-decoration: none;
}

.sign-up:hover{
    color: #66B2FF;
}

#comment-feed{
    background-color: #eee;
    border-radius: 10px;
    padding:12px;
}

hr{
    width: 65%;
}

#basic-addon2 i{
    padding: 4px 0px;
}

#basic-addon1 i{
    padding: 4px 0px;
}