.header{
    background-color: #404040;
    position:sticky;
    top:0;
    z-index:100;
}
.navbar{
    background-color: #404040;
    width:100%;
    margin-top: 1em;
}

.lang-button a{
    position: absolute;
    font-family: 'Didact Gothic', sans-serif;
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin: 0 1.25em 0 0;
    font-size: 15px;
    font-weight: 800;
    top: 0;
    right: 0.25em;
    text-decoration: none;
    color: white;
    background-color: #00cc66;
    border-radius: 0.25em;
    z-index:1;
}

.lang-button a:focus{
    color: white;
    background-color: transparent;
    border: 0.1em solid #00cc66;
    border-radius: 0.25em;
}


.toggler{
    color:#0080ff;
    font-size:1.5em !important;
    display: inline;
}

.navbar-toggler{
    color:transparent;
    z-index:1;
}

.navbar a{
    font-size: 2em;
    text-decoration: none;
    color:#66B2FF
}

.navbar-brand{
    font-family:'Didact Gothic', sans-serif;
    font-size:1em;
}
.active{
    background-color: #ffffff25;
    border-radius: 0.5em;
}

.nav-item{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.75em;
    margin-left:0.3em;
}

.nav-link:hover{
    color:#0080ff;
}

.nav-link:focus{
    color:#0080ff;
}

.nav-drop-menu{
    background-color: #404040;
    border-radius: 1em;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    z-index: 100;
    display:none;
    position:absolute;
}


.dropdown-item:hover{
    color:#404040;
    background-color: #66B2FFAA;

}

.dropdown:focus .dropdown-menu{
    display: block;
}

.icons{
    margin-left: 0.5em;
}

@media screen and (max-width:768px){

    .navbar-brand{
        font-family: 'Didact Gothic', sans-serif;
        font-size:1em;
    }

    .nav-item{
        font-family: 'Didact Gothic', sans-serif;
        font-size:0.8em;
        text-align: center;
    }

    .nav-drop-item{
        text-align: center;
    }

    .nav-drop-menu{
        font-family: 'Didact Gothic', sans-serif;
        font-size:1em;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    .navbar{
        background-color: #404040;
        width:100%;
    }
}

@media screen and (min-width:1000px){
    .navbar{
        background-color: #404040;
        width:100%;
    }

    .nav-item{
        font-size:0.6em;
    }

    .dropdown:hover .dropdown-menu{
        display: block;
        transform: translateX(-50%);
    }
}

