* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: white;
}

.container {
    display: flex;
    margin-top: 1em;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: relative;
}

.container_content {
    width: 50%;
}

.container_content_inner {
    width: 70%;
}

.container_img {
    width: 100%;
    outline-offset: -8px;
    outline: rgba(255,255,255,0.5) solid 1px;
    border-radius: 15px;
    -moz-outline-radius: 20px;
}

.par {
    height: auto;
    overflow: hidden;
}

p{
    line-height: 30px;
    color: #404040;
}


.title {
    overflow: hidden;
    height: auto;
}

h1 {
    font-size: 50px;
    color: #404040;
    margin-bottom: 20px;
}

.my-button-green{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00CC66;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    border: #00CC66;
    border-radius: 0.25em;
    flex-wrap: wrap;
}

.my-button-green:hover{
    color: #ffffff;
}

.my-button-green::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00CC66;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.my-button-green:hover::before{
    width: 150%;
}