.main-body{
    margin:1em;
}

.title{
    color:#66b2ff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3em;
    text-align: center;
}

form{
    border: 1px solid #66b2ff;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-family: 'Didact Gothic', sans-serif;
}

fieldset{
    text-align: center;
}

legend{
    color:#00cc66;
}

label{
    /* margin:0.5em 0; */
    color:#66b2ff;
}


input{
    border: 1px solid #00cc66;
    border-radius: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

input[type=text]{
    min-width:300px;
}

#fullname>input{
    width: 25%;
}

#street{
    display: inline;
    width: 25%;
    
}

#num{
    display: inline;
    width:4%;
    min-width:64px;
}

#zip{
    display: inline;
    width:10%;
    min-width:80px;
}

#city{
    display: inline;
    width: 25%;
}

#country{
    display: inline;
    width:14.8%;
}

#tel span{
    display:block;
    color:grey;
}

#people{
    border:1px solid #00cc66;
    border-radius: 0.5em;
    margin-left:0.5em;
}

#enddate{
    margin-left:0.5em;
    border:1px solid #00cc66;
}

.my-button-green{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00CC66;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    border: 0;
    border-radius: 0.25em;
    flex-wrap: wrap;
    margin-top:0.5em;
}
.my-button-green:hover{
    color: #ffffff;
}
.my-button-green::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #00CC66;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.my-button-green:hover::before{
    width: 150%;
}

#search-results{
    display:none;
}

#avail-spaces{
    margin: 0 auto;
    padding: 0;
    width:85%;
}

#avail-spaces>button{
    width:85%;
    border-radius: 1em;
    border:1px solid #66b2ff55;
    background-color: #66b2ff25;
    margin: 0.5em auto;
}

.active{
    background-color: #00cc6655 !important;
}

hr{
    width:50%;
    margin:1em auto;
}

.test{
    border: 1px solid #eee;
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.subtitle{
    font-size: 1.5em;
    color:#66b2ff;
}

.features{
    margin:0 auto;
    text-align: center;
}

.features-list{
    list-style-type: none;
    text-align: center;
}

.features-list>li::before{
    content:"\f00c";
    font-family: FontAwesome;
    margin-right:0.25em;
}

@media screen and (min-width:769px) {
    #address>input{
        margin-bottom:0;
    }
}

@media screen and (max-width:768px){
    .title{
        font-size: 2em;
    }

    input[type=text]{
        margin-bottom:0;

    }
    #fullname>input{
        display: block;
        width:50%;
    }

    #firstname{
        margin-bottom: 0.5em;
    }

    #street{
        width:50%;
    }
    
    #num{
        width:10%;
    }

    #city{
        width:40%;
    }

    #country{
        width:32.5%;
    }
}

@media screen and (max-width:360px){
    form{
        min-width: 340px;
    }

}